<section style="padding: 14px">
  <section class="etiquette">
    <div class="ang-flex">
      <p>Lyce Prive La nouvelle generation</p>
      <div>
        <h3 style="color: #0048BB;">BURKINA-FASO</h3>
        <p>Unite-Progres-Justice</p>
      </div>
    </div>

    <section class="ang-flex ang-mg-block-start">
      <div>
        <h2 style="color: #0048BB;letter-spacing: 2px;">CARTE D'IDENTITE SCOLAIRE</h2>
        <div class="ang-info">
          <p>Matricule : MG833</p>
          <p>Nom : Bagre</p>
          <p>Ne(e) le : 16/11/2011 a Kindi</p>
          <p>Sexe : M Classe : 5 eme</p>
          <p>Au besoin 3</p>

        </div>
      </div>
      <div>
        <p>2023-2024</p>
        <div class="pics">image</div>

      </div>
    </section>
    <div class="ang-flex" style="margin-block-end: 82px;">
      <small>Signature du chef d'etablissement</small>
      <small>Signature du titulaire</small>
    </div>
  </section>
</section>
