<section>
  <div>
    <img  src="/assets/img/ohb.png" alt="logo" srcset="" />
  </div>
  <div class="hbc-theme">
    <h1 class="hbc-title">Semaine Régionale de Promotion de l'Economie Numérique</h1>
    <h1>HAUTS-BASSINS CONNECT</h1>
    <small>Veuillez remplir le formulaire ci-dessous afin d'obtenir votre badge d'accès</small>
  </div>
  <section class="hbc-connect-save">
    <div style="display: flex;align-items: center;justify-content: center;">
      <img style="width: 350px !important;text-align: end;" src="/assets/img/affiche.jpg" alt="logo" srcset="" />
    </div>
    <div>
      <app-participant-form/>
    </div>
  </section>

  <router-outlet />
</section>
